{% extends 'layout.html' %}

{% block header %}
    <link rel="stylesheet" href="/css/guess_setup.css">
    <script type="text/javascript" src="/js/game_template_page_manager.js"></script>
{% endblock %}

{% block content %}
<div class="content-holder">
    <table>
        <tr>
            <td>
                <p>
                    Type any character to the field to lookup a word.
                </p>
                <br />
                <input type="text" id="wordInput" />
                <br />
                <select id="wordsBox" size="10">
                </select>
            </td>
            <td>
                <div id="wordCard"></div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}

{% block script %}
    <script>
        class PageManager {
            constructor() {
                this.words = [];

                let input = document.getElementById('wordInput');
                input.addEventListener('keyup', e => {
                    if (!e.key) return;
                    this.updateWords();
                });

                let list = document.getElementById('wordsBox');
                list.addEventListener('change', e => {
                    this.displayWordCard();
                });
            }

            updateWords() {
                let prefix = document.getElementById('wordInput').value;
                this.queryWordsOnServer(prefix);
            }

            queryWordsOnServer(prefix) {
                let uri = `word_lookup?prefix=${encodeURIComponent(prefix)}`;
                let that = this;
                fetch(uri, {method: "GET"})
                .then(function (response) {
                    return response.json();
                })
                .then(function (json) {
                    // render words
                    that.words = json.words;
                    that.displayWords();
                })
                .catch(function (error) {
                    console.log(error);
                });
            }

            displayWords() {
                let content = '';
                for (let i = 0; i < this.words.length; i++) {
                    content += `<option value="${this.words[i].word}">${this.words[i].word}</option>`;
                }
                document.getElementById('wordsBox').innerHTML = content;
            }

            displayWordCard() {
                let word = document.getElementById('wordsBox').value;
                var card = this.words.find(w => w.word == word);
                let markup = `<b>${card.word}</b><br/>Part of Speach: ${card.pos}<br/><br/>`;
                markup += `Frequency: ${card.frequency} (rel rank ${card.frequency_rank})<br/>`;
                console.log(`${card.word}: ${card.vector}`);
                document.getElementById('wordCard').innerHTML = markup;
            }
        }

        window.manager = new PageManager();
    </script>
{% endblock %}