{% extends 'layout.html' %}

{% block header %}
    <link rel="stylesheet" href="/css/guessing_game.css">
    <script type="text/javascript" src="/js/game_page_manager.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Mine-word: <span id="mine_word"></span></h3>
        <div id="game_status"></div>
        <br />
        <div id="position_placeholder"></div>
        <br />
        <table>
            <tr>
                <td><div id="hint_placeholder"></div></td>
                <td>
                    <input type="button" id="btn_hint_1" value="1 word"/> &nbsp; &nbsp;
                    <input type="button" id="btn_hint_2" value="2 words"/> &nbsp; &nbsp;
                    <input type="button" id="btn_hint_3" value="3 .."/> &nbsp; &nbsp;
                    <input type="button" id="btn_hint_4" value="4 .."/> &nbsp; &nbsp;
                    <input type="button" id="btn_hint_5" value="5 .."/>
                </td>
            </tr>
        </table>
        <br />
        <div id="turns_placeholder"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        class PageManager extends GamePageManager {
            constructor() {
                let positionStr = '{{ position|safe }}';
                super(positionStr);
                this.hintOptions = [];
                this.renderPosition();
                this.renderWordPopup();
                this.setupHintButtons();
            }

            renderWordPopup() {
                let markup = '<div>' +
                    '<label for="word_input">hint:</label>';
                markup += '<input type="search" name="word" id="word_input" list="word_list">';
                markup += '<datalist id="word_list"></datalist>';
                markup += '</div>';
                this.updateElementMarkup('hint_placeholder', markup);
                this.renderHintOptions()

                document.getElementById('word_input').addEventListener('keyup', e => {
                    this.updateHintOptions();
                });
            }

            setupHintButtons() {
                let counts = [1, 2, 3, 4, 5];
                counts.forEach(ct => {
                    let btn = document.getElementById(`btn_hint_${ct}`);
                    btn.addEventListener('click', e => {
                        this.sendHint(ct);
                    });
                });
            }

            updateHintOptions() {
                this.getHintOptions();
            }

            renderHintOptions() {
                let markup = '';
                this.hintOptions.forEach(opt => {
                    markup += `<option>${this.escapeWord(opt)}</option>`;
                });
                this.updateElementMarkup('word_list', markup);
            }

            sendHint(wordCount) {
                let val = document.getElementById('word_input').value;
                if (!val) return;

                let link = '{{ url_for("give_hint") }}';
                let self = this;
                fetch(link,
                    {
                        method: 'POST',
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({
                            'hint': val,
                            'count': wordCount,
                            'position': self.position
                        })
                    })
                    .then(res => res.json())
                    .then(response => {
                        self.processTurnResponse(response);
                    })
                    .catch(err => {
                        console.log(err);
                        alert("Server error occurred, see console for detail.")
                    }); // fetch
            }

            processTurnResponse(response) {
                if (response.status.error) {
                    console.log(response.status.error);
                    alert(response.status.error);
                    return;
                }
                this.position = JSON.parse(response.position);
                this.renderPosition();
            }

            getHintOptions() {
                let val = document.getElementById('word_input').value;
                if (!val) {
                    this.hintOptions = [];
                    return;
                }

                let link = '{{ url_for("get_hint_options") }}';
                let self = this;
                fetch(link,
                    {
                        method: 'POST',
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({
                            'word': val,
                            'position': self.position
                        })
                    })
                    .then(res => res.json())
                    .then(response => {
                        self.hintOptions = response.hints;
                        self.renderHintOptions();
                    })
                    .catch(err => {
                        console.log(err);
                        alert("Server error occurred, see console for detail.")
                    }); // fetch
            }

            renderPosition() {
                this.renderTable();
                this.updateElementMarkup('mine_word', this.escapeWord(
                    this.position.words_mine[0]));
                this.renderTurns();

                if (this.position.status) {
                    let markup = this.escapeWord(this.position.status);
                    markup = `<h2>${markup}</h2>`;
                    this.updateElementMarkup('game_status', markup);
                }
            }

            buildCells() {
                // build two rows of cells
                let table = [this.position.words_a.map(w => [w, 0]),
                             this.position.words_b.map(w => [w, 0]),
                             this.position.words_n.map(w => [w, 0])];
                this.position.words_guessed.forEach(w => {
                    let index = w.side == 'a' ? 0 : w.side == 'b' ? 1 : 2;
                    let sign = w.correct ? 1 : -1;
                    table[index].push([w.word, sign]);
                });
                return table;
            }

            renderCell(cell) {
                let style = cell[1] == 1 ? 'guessed' : cell[1] == -1 ? 'guessed_wrong' : '';
                let extra_style = !style ? '' : ` class="${style}"`;
                return `<td${extra_style}>${this.escapeWord(cell[0])}</td> `;
            }

            renderTurns() {
                let markup = '';
                if (this.position.turns) {
                    markup = '<table class="turns">';
                    for (let i = this.position.turns.length-1; i >= 0; i--) {
                        let turn = this.position.turns[i];
                        markup += `<tr> <td>Turn ${i + 1}</td>`;
                        markup += `<td> ${this.escapeWord(turn.hint)} x${turn.count} </td>`;
                        markup += `<td> ${this.escapeWord(turn.message)} </td> </tr>`;
                    }
                    markup += '</table>';
                }
                this.updateElementMarkup('turns_placeholder', markup);
            }
        }

        window.manager = new PageManager();
    </script>
{% endblock %}