{% extends 'layout.html' %}

{% block header %}
    <link rel="stylesheet" href="/css/guess_setup.css">
    <script type="text/javascript" src="/js/game_template_page_manager.js"></script>
{% endblock %}

{% block content %}
<div class="content-holder">
    <p>
        Computer gives hints. The Player guesses words. If the Player guesses "mine"-word,
        he loses. When the Player guessed all words from the first table row, you win. <br/>
        Each word from the <b>third</b> row means x1 penalty point. <br/>
        Each word from the <b>second</b> row means x3 penalty points.
    </p>
    <br />
    <table class="settings-table">
        <tr>
            <td class="value-label">Field:</td>
            <td>
                <select id="input_words">
                    <option value="5">5 words</option>
                    <option selected value="7">7 words</option>
                    <option value="9">9 words</option>
                    <option value="12">12 words</option>
                </select>
            </td>
            <td class="value-label">Words:</td>
            <td>
                <select id="input_variety">
                    <option selected value="popular">popular words</option>
                    <option value="mixed">mixed words</option>
                    <option value="rare">rare words</option>
                </select>
            </td>
        </tr>
    </table>
    <br />

    <input type="button" value="PLAY" id="play_button" />
</div>
{% endblock %}

{% block script %}
    <script>
        class PageManager extends GameTemplatePageManager {
            constructor() {
                super();
                this.link = '{{ url_for("hinting") }}';
            }
        }

        window.manager = new PageManager();
    </script>
{% endblock %}