{% extends 'layout.html' %}

{% block header %}
    <link rel="stylesheet" href="/css/hinting_game.css">
    <script type="text/javascript" src="/js/game_page_manager.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="game_status"></div>
        <h3 id="hint_title">
            {{hint}} x{{hint_count}}
        </h3>
        <br />
        <div id="position_placeholder"></div>
        <br />
        <br />
        <table>
            <tr>
                <td><input type="button" id="btn_accept" value="Accept"></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td><input type="button" id="btn_cancel" value="Cancel"></td>
            </tr>
        </table>
        <br />
        <div id="turns_placeholder"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        class PageManager extends GamePageManager {
            constructor() {
                let positionStr = '{{ position|safe }}';
                super(positionStr);
                this.markedCells = null;
                this.tableCells = null;
                this.renderPosition();

                document.getElementById('btn_accept').addEventListener('click', e => {
                            this.acceptClicked();
                        });
                document.getElementById('btn_cancel').addEventListener('click', e => {
                            this.cancelClicked();
                        });
            }

            acceptClicked() {
                let words = this.getCheckedWords();
                if (!words) return;
                this.sendGuess(words);

                this.markedCells = null;
                this.renderTable();
            }

            cancelClicked() {
                this.markedCells = null;
                this.renderTable();
            }

            sendGuess(words) {
                let link = '{{ url_for("solve_hint") }}';
                let self = this;
                fetch(link,
                    {
                        method: 'POST',
                        headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({
                            'words': words,
                            'position': self.position
                        })
                    })
                    .then(res => res.json())
                    .then(response => {
                        self.processTurnResponse(response);
                        self.renderHint(response.hint, response.hint_count);
                        console.log(response);
                    })
                    .catch(err => {
                        console.log(err);
                        alert("Server error occurred, see console for detail.")
                    });
            }

            getCheckedWords() {
                let words = [];
                this.markedCells.forEach((row, r) => {
                    row.forEach((selected, c) => {
                        if (!selected) return;
                        words.push(this.tableCells[r][c][0]);
                    });
                });
                return words;
            }

            renderPosition() {
                this.renderTable();
                this.renderTurns();

                if (this.position.status) {
                    let markup = this.escapeWord(this.position.status);
                    markup = `<h2>${markup}</h2>`;
                    this.updateElementMarkup('game_status', markup);
                }
            }

            renderHint(hint, hintCount) {
                hint = this.escapeWord(hint);
                this.updateElementMarkup('hint_title', `${hint} x${hintCount}`);
            }

            renderTable() {
                super.renderTable();

                // add click handler
                let table = document.getElementById('position_table');
                for (let r=0; r < table.rows.length; r++) {
                    for (let c=0; c < table.rows[r].cells.length; c++) {
                        let cell = table.rows[r].cells[c];
                        cell.addEventListener('click', e => {
                            this.switchCell(r, c);
                        });
                    };
                };
            }

            switchCell(r, c) {
                let cell = this.tableCells[r][c];
                if (cell[1]) return; // cell is solved
                this.markedCells[r][c] = !this.markedCells[r][c];
                this.renderTable();
            }

            buildCells() {
                // build two rows of cells
                let cells = this.position.words_a.map(w => [w, '']);
                cells = cells.concat(this.position.words_b.map(w => [w, '']));
                cells = cells.concat(this.position.words_n.map(w => [w, '']));
                cells = cells.concat(this.position.words_mine.map(w => [w, '']));
                this.position.words_guessed.forEach(w => {
                    cells.push([w.word, w.side]);
                });
                cells.sort((a, b) => {
                    return this.strHash(a[0]) - this.strHash(b[0]);
                });

                this.tableCells = this.makeMatrixOfArray(cells);

                // ensure the table of marked cells exists
                if (!this.markedCells) {
                    this.markedCells = this.makeMatrixOfArray(cells.map(c => 0));
                }
                return this.tableCells;
            }

            makeMatrixOfArray(a) {
                let rowLen = Math.ceil(a.length / 3);
                return [a.slice(0, rowLen),
                        a.slice(rowLen, 2 * rowLen),
                        a.slice(2 * rowLen, a.length)];
            }

            renderCell(cell, i, j) {
                let selected = this.markedCells[i][j];
                let style = cell[1];
                let extra_style = '';
                if (selected)
                    extra_style = ' class="selected_cell"';
                else
                    extra_style = !style ? '' : ` class="class_${style}"`;
                return `<td${extra_style}>${this.escapeWord(cell[0])}</td> `;
            }

            renderTurns() {
                let markup = '';
                if (this.position.turns) {
                    markup = '<table class="turns">';
                    for (let i = this.position.turns.length-1; i >= 0; i--) {
                        let turn = this.position.turns[i];
                        markup += `<tr> <td>Turn ${i + 1}</td>`;
                        markup += `<td> ${this.escapeWord(turn.hint)} x${turn.count} </td>`;
                        markup += `<td> ${this.escapeWord(turn.message)} </td> </tr>`;
                    }
                    markup += '</table>';
                }
                this.updateElementMarkup('turns_placeholder', markup);
            }
        }

        window.manager = new PageManager();
    </script>
{% endblock %}