<header>
   <nav>
    <a href="{{ url_for('guessing_template') }}">computer's Guessing</a>
    <a href="{{ url_for('hinting_template') }}">computer's Hinting</a>
    <a href="{{ url_for('dictionary_template') }}">dictionary</a>
  </nav>
</header>