div.content-holder {
    padding: 30px;
}

input[type=button] {
  padding: 15px;
}

table.settings-table td {
  padding: 6px;
}

table.settings-table td.value-label {
   padding: 6px 14px 6px 8px;
   font-weight: bold;
}