table.game_table {
  border: 1px solid black;
}

table.game_table td {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  border: 1px solid white;
}

table.game_table th {
  font-weight: bold;
  text-align: left;
}

table.game_table tr:nth-child(1) td {
  background: #E2E2E9;
}

table.game_table tr:nth-child(2) td {
  background: #E9E2E2;
}

table.game_table tr:nth-child(3) td {
  background: #E4E4E3;
}

table.game_table td.guessed {
  color: #999999;
  border: 1px solid #888888;
}

table.game_table td.guessed_wrong {
  color: #AB8989;
  border: 1px solid #A38181;
}

table.game_table td:hover {
  border: 1px solid #999999
}

input[type=button] {
  padding: 5px;
}

table.turns tr:nth-child(even) {
  background-color: #EEEEEE
}

table.turns td {
  padding: 6px
}