table.game_table {
  border: 1px solid black;
}

table.game_table td {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  border: 1px solid white;
}

table.game_table th {
  font-weight: bold;
  text-align: left;
}

table.game_table td.class_a {
  background: #D5D7EB;
}

table.game_table td.class_b {
  background: #EBD5D5;
}

table.game_table td.class_n {
  background: #E4E4E3;
}

table.game_table td.class_m {
  background: #101010;
  color: #E8E8E8;
}

table.game_table td:hover {
  border: 1px solid #999999
}

input[type=button] {
  padding: 14px;
}

table.turns tr:nth-child(even) {
  background-color: #EEEEEE
}

table.turns td {
  padding: 6px
}

table td.selected_cell {
  background: #DAF8FF;
  color: #308830;
}